<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="/stylesheets/cg.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>


    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Conditions Générales de vente</title>
</head>
<body>

<%- include('./menuCg.ejs') %>

<div class="container">
    <h1>Conditions Générales de vente</h1>

    <div>
        <button type="button" class="btn btn-warning"><a target="_blank" href="/images/Conditions Générales de vente.pdf">Version pdf</a></button>
    </div>

    <p>
        Les conditions générales dans lesquelles la formation est dispensée, notamment les moyens
        pédagogiques et techniques, les modalités de contrôle de connaissances, sont les suivantes : Le stagiaire aura à
        disposition les slides de la formation, le planning de la formation et toutes ressources nécessaires au
        déroulement de la formation. <br><br>
        <strong>Règlement intérieur</strong><br>
        Le règlement intérieur doit être signé avant le début de la formation. <br><br>
        <strong>Délai de rétractation</strong><br>
        À compter de la date de signature de la présente convention, le stagiaire dispose d’un délai de dix jours pour
        se rétracter. Il en informe l’organisme de formation par lettre recommandée avec accusé de réception. Dans ce
        cas, aucune somme ne peut être exigée de la société. <br><br>
        <strong>Dispositions financières</strong><br>
        Le règlement aura lieu à la fin de la session de formation. <br><br>
        <strong>Interruption du stage</strong><br>
        En cas de cessation anticipée de la formation du fait de l’organisme de formation ou l’abandon du stage par le
        stagiaire pour un autre motif que la force majeure dûment reconnue, le présent contrat est résilié selon les
        modalités financières suivantes :<br><br>
        Les frais de dossier d'un montant de 100 euros seront exigés auprès du stagiaire.
        Si le stagiaire ou la formatrice sont empêchés de suivre la formation par suite de force majeure dûment
        reconnue, le contrat de formation professionnelle est résilié ou/et modifié avec un avenant. Dans ce cas, seules
        les prestations effectivement dispensées sont dues au prorata temporis de leur valeur prévue au présent contrat.
        <br><br>
        <strong>Cas de différend</strong><br>
        Si une constatation ou un différend n’ont pu être réglés à l’amiable, le tribunal de Paris sera seul compétent
        pour régler le litige. <br><br>
        Fait en double exemplaire, à Lyon, le
        Pour l’organisme Pour l’organisme formateur EAZYTRAINING (nom et qualité du signataire) Willy Dirane TAFEN,
        gérant <br><br>
        Eazytraining, 6 rue Turbil - Lyon 3ème – contact@eazytraining.fr SARL au capital de – RCS Lyon xxxxxxxx
        TVA intracommunautaire :<br><br>
        N° d’activité enregistré auprès du Préfet xxxxx
    </p>
</div>

<%- include('./footer.ejs') %>

<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>