<div class="container">
    <div class="mx-auto w-100">
        <h4 class="text-center my-4">&Eacute;valuation</h4>
        <div class="card mb-4">
            <div class="card-header fw-bold">
              Formation
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="card-title text-warning"><ion-icon name="star" ></ion-icon></h1>
                    <p class="fw-bold text-dark" style="font-size: 22px;">4.7</p>
                </div>
              <p class="card-text text-center" style="font-size: 14px;">Excelent</p>
              <a href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/formation/recherche/84242806200025_devopsfoundationbootcamp/84242806200025_devopsfoundationbootcamp/evaluations" class="btn btn-primary text-center" target="_blank">Consulter les avis</a>
            </div>
        </div>
    </div>
</div>
