<html>
    <head>
        <link href="/stylesheets/footer.css" rel="stylesheet">
    </head>
    <body>
        <footer class="footer-container">
            <div class="logoContactFooter">
                <div class="logoFooter">
                    <img class="logofooter" src="/images/logo.png" alt="logo de Eazytraining">
                </div>
                <div class="contact">
                    <p><ion-icon name="call-outline"></ion-icon> : + 33 (0)789919305 / + 33 (0)661981027</p>
                    <p><ion-icon name="mail-unread-outline"></ion-icon> : contact@eazytraining.fr</p>
                    <p><ion-icon name="location-outline"></ion-icon> : 9 rue Turbil, 69003 Lyon</p>
                    <p><ion-icon name="globe-outline"></ion-icon> : devops.eazytraining.fr</p>
                </div>
            </div>
            <div class="menuFooter">
                <a href="/" class="active">Home</a>
                 <a href="/cgu">Conditions Générales d'utilisation</a>
                <!-- <a href="/images/Condition de Eazytraining.pdf" target="_blank" >Conditions Générales d'utilisation</a> -->

                  <a href="/cgv" >Conditions Générales de vente</a>
                <!--  <a href="/images/Conditions Générales de vente.pdf" target="_blank" >Conditions Générales de vente</a> -->

              </div>
              <div class="localisation">
                  <h5>Les personnes en situation de handicap peuvent suivre la formation depuis leur lieu de résidence.
                      <br />
                      Pour suivre la formation il suffit d'avoir un PC avec une connexion Internet.
                  </h5>
              </div>
          </footer>
      </body>
  </html>
