<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Devops Foundation</title>
</head>
<%- include('./header.ejs') %>
<div class="entete">
    <div class="illustration">
        <img class="illustrationEntete" src="/images/couverture.jpg" alt="Illustration Eazytraining">
    </div>
    <div class="titrePresentaion">
        <div class="titreDuree">
            <h1>DevOps Foundation</h1>
            <h4>Durée 3 jours (21 heures)</h4>
            <div class="notation">
                <h6>100% de réussite à l'examen <span style="color: rgba(0, 0, 0, 0)">li</span> </h6>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
            </div>
        </div>


        <div class="prixInscription">
            <h3>Tarifs : 1.400 €</h3>
            <h3>Formation à Distance</h3>
            <button type="button" class="btn btn-outline-primary boutonInscription"
            ><a class="lienInscription"
                href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/formation/recherche/84242806200025_devopsfoundation/84242806200025_devopsfoundationaction1"
                target="_blank">M'inscrire avec le CPF</a></button>
        </div>
    </div>
</div>
<section class="container">
    <article>
        <!-- <h2>Description</h2> -->
        <div class="card border-info mb-3" style="max-width: 100%;">
            <h3 class="card-header">Présentation</h3>
            <div class="card-body">
                <p class="card-text">La formation DevOps est un ensemble de pratiques mettant l’accent sur
                    la collaboration et la communication entre les développeurs de logiciels et
                    d’autres professionnels du système d’information, toute n’automatisant le processus de
                    livraison des logiciels et les changements d’infrastructure. L’objectif est de créer une
                    culture et un environnement propice à la conception, à la phase de tests et au déploiement de
                    logiciels de manière rapide, fiable et fréquente. Les professionnels certifiés DevOps Practitioner
                    remplissent ce rôle grâce à l’enrichissement des compétences et à une amélioration de la
                    communication et de la collaboration entre les équipes SI.</p>
            </div>
        </div>

        <div class="objectif">
            <h3>Objectifs</h3>
            <ul class="listObjectifs">
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Appréhender les objectifs et le vocabulaire DevOps
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Découvrir les avantages de DevOps pour l’entreprise
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Découvrir les concepts et pratiques DevOps
                    (y compris sa relation avec Agile, Lean et IT Service Management – ITSM)
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Découvrir les Workflows améliorés
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Appréhender la communication et les boucles de rétroaction améliorées
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Découvrir l’automatisation et ses dépendances
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Appliquer DevOps dans un environnement d’entreprise
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Comprendre les facteurs de succès et les indicateurs clés de performance
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Aborder des exemples réels et comprendre les résultats
                </li>
                <li>
                    <ion-icon name="return-up-forward-outline"></ion-icon>
                    Réussir l’examen DevOps Foundation
                </li>
            </ul>
        </div>

        <div class="card border-warning mb-3" style="max-width: 100%;">
            <h3 class="card-header">Moyens : pédagogiques, techniques et encadrement</h3>
            <div class="card-body">
                <p class="card-text">Pour la formation à distance en visioconférence : besoin d’un PC, internet et vidéo
                    caméra. Projection
                    du cours. La formation est en langue française, le support et l’examen sont en langue anglaise. Le
                    cours
                    est théorique à 60% et 40% pratique avec des discussions, partage d’expérience et étude de cas.
                    Unaccès
                    à notre plateforme permet de télécharger tous les documents utiles à la formation. Prévoir pendant
                    la
                    formation
                    votre smartphone/pc pour vous connecter. L’accès Wifi vous est fourni. Le formateur est un
                    consultant
                    terrain
                    avec plus de 15 ans d’expérience et/ou certifié et accrédité pour délivrer la formation.</p>
            </div>
        </div>

        <div class="moyensEvaluation">
            <h3>Moyens d’évaluation, déroulement de l’examen et validation de la formation</h3>
            <p>Des quizz et un examen à blanc sont proposés pour évaluer vos connaissances, compétences.
                QCM de 40 questions en langue anglaise (les candidats peuvent amener un dictionnaire format papier)
                – examen version web : examen sur l’interface de l’organisme certifiant.
                Besoin d’un PC, internet, vidéo caméra. Pas de téléchargement d’application particulier.
                Résultat immédiat. Obtention du certificat à partir de 65%.
                Un certificat de réalisation d’action de formation est délivré en fin de formation.
                Durée : maximum 60 minutes + 15’ pour les non anglophones
            </p>
        </div>
    </article>
    <aside>

        <div class="prerequis">
            <h3>Prérequis</h3>
            <p>Être familier sur le développement de logiciel / IT et des opérations est un plus pour
                une bonne compréhension de la méthodologie DevOps. Une lecture préparatoire est
                fournie en amont, il est conseillé de la lire entièrement avant d’assister au cours.
            </p>
        </div>

        <div class="card border-success mb-3" style="max-width: 100%;">
            <h3 class="card-header">Public</h3>
            <div class="card-body">
                <p class="card-text">Tout professionnel des services études et de la production IT qui souhaite à
                    comprendre
                    les principes, pratiques et considérations culturelles de DevOps ainsi que les consultants,
                    fournisseurs internes et externes et Informaticiens et Managers impliqués dans la conception
                    ou l’amélioration des processus IT.</p>
            </div>
        </div>
        <div class="programme">
            <h3>Programme</h3>
            <p>La formation DevOps® Foundation procure une introduction au mouvement professionnel et culturel
                DevOps qui insiste sur la communication, la collaboration, l’intégration et l’automatisme afin
                d’améliorer les flux de travail entre les développeurs software et les professionnels de
                l’opérationnel IT.
            </p>
            <div class="listProgramme">
                <div class="jour1">
                    <div>
                        <h4 class="jours">Jour 1: </h4>
                        <p>Qu’est-ce que DevOps ?, Pourquoi DevOps?, les perspectives Business/IT, les principes
                            de DevOps (lestrois voies devOps, projet Phoenix), les pratiques DevOps (Intégration
                            continue, livraison et dé- ploiement continu,méthodes Agile et Lean: DevOps/DevSecOps,
                            ChatOps, Kanban)
                        </p>
                    </div>
                </div>
                <div class="jour2">
                    <div>
                        <h4 class="jours">Jour 2: </h4>
                        <p>DevOps et les autres cadres de référence (Agile, ITSM, Lean), les valeurs de DevOps
                            (culture, automa- tisation, Lean, mesure du succès, partage)
                        </p>
                    </div>
                </div>
                <div class="jour3">
                    <div>
                        <h4 class="jours">Jour 3: </h4>
                        <p>DevOps en entreprise (rôles, considérations organisationnelles), le lancement
                            (défis, risques et les fac- teurs clés de réussite), EXAMEN DEVOPS FOUNDATION.
                            Révisions et passage de l’examen final en fin de formation (voir le déroulement de l’examen)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>


<div class=" container partenaireAvis">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <h4>Nous sommes partenaire de la devops institute</h4>

        <!-- <div class="carousel-indicators">
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                     aria-current="true" aria-label="Slide 1"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                     aria-label="Slide 2"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                     aria-label="Slide 3"></button>
         </div> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/nosPartenaires.jpeg" class="d-block w-100"
                     alt="Eazytraining partenaire devops institute" width="350" height="500">
            </div> <!--
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <h4 class="titre23">Ils ont passé leur certification</h4>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/kevinDango.jpeg" class="d-block w-100" alt="Kevin Dango">
            </div>
            <div class="carousel-item">
                <img src="/images/stephane.jpeg" class="d-block w-100" alt="Stéphane">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

</div>

<!-- Evaluation -->
<%- include('./evaluation.ejs') %>

<span style="font-size: 3em; color: Tomato;">
  <i class="fas fa-camera"></i>
</span>

<form class="container formulaire_contact " action="" method="post">
    <!-- Name input -->
    <div class="form-outline mb-4" id="contactForm">
        <input type="text" id="form4Example1" class="form-control"/>
        <label class="form-label" for="form4Example1">Nom</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form4Example2" class="form-control"/>
        <label class="form-label" for="form4Example2">Adresse email</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
        <label class="form-label" for="form4Example3">Message</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>
</form>

<%- include('./footer.ejs') %>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/javascripts/script.js"></script>

</body>
</html>