
.footer-container{
    background-image: url("../images/footer.jpg");
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logofooter{
    width: 150px;
    height: 150px;
}
.logoContactFooter{
    width: 20%;
}
.menuFooter{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.menuFooter a{
    font-weight: bold;
    color: #fff;
}
.localisation{
    width: 30%;
    background-color: rgba(30, 55, 153, .5);
    padding: 10px;
}